{% extends 'base.html.twig' %}

{% block title %}Hello AdminArticleController!{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <h3 class="alert alert-success">
            {{ message }}
        </h3>
    {% endfor %}
    <h1>L'ensemble des éléments déjà publiés</h1>
    <div class="container">
        <div class="row my-5">
            <h3 class="mx-auto"><a href="{{ path('admin_article_create') }}" class="btn btn-secondary">Nouvelle publication</a></h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.title }}</td>
                            <td class="text-right">
                                <a href="{{ path('admin_article_update', {'id': article.id}) }}" class="btn btn-secondary">Modifier</a>
                                <form action="{{ path('admin_article_delete', {id: article.id}) }}" 
                                      method="post" class="d-inline-block"
                                      onsubmit="return confirm('Voulez-vous vraiment supprimer cet élément ?')">
                                    <input type="hidden" name="_method" value="DELETE" >
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}" >
                                    <button class="btn btn-danger">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
